name: Batch Inference for PM25 Predictions

on:
  schedule:
    # Run daily at 6:30 PM UTC (02:30 AM SGT next day)
    - cron: '30 18 * * *'

  workflow_dispatch:  # Allow manual trigger

permissions:
  pages: write
  id-token: write

jobs:
  run-prediction:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
            token: ${{ secrets.PAT }}

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"

      - name: Install dependencies
        run: uv sync

      - name: Run predictions
        env:
          HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}
          HOPSWORKS_PROJECT_NAME: ${{ secrets.HOPSWORKS_PROJECT_NAME }}
        run: |
          uv run src/predict.py

      - name: github pages publish
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
            commit_message: "Automated predictions update"
            commit_options: '--no-verify --signoff'
            file_pattern: 'docs/outputs/*.png'
            repository: .
            status_options: '--untracked-files=no'
            skip_dirty_check: true
            skip_fetch: true
            skip_checkout: true
            push_options: '--force'
